$psize: 25px;
$cardscontainer: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
$cardscolor: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
$bodycolor: linear-gradient(to right, #434343 0%, rgb(18, 131, 106) 100%);

.body{
    background-image: $bodycolor;
}
.card{
    margin-top: 20px;
    background-image: $cardscolor;
    
}
.row{
    margin-top: 20px;
    background-image: $cardscontainer;
}

p.text {
    font-family: sans-serif;
    font-size: $psize;
    
    }

    @media screen and (min-width: 1000px) {

        p.text {
        
        font-size: 20px;

        }
        
        }

